html, body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}
/*Logo*/
.logo{ 
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
}

/*nav*/
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    
}
.nav-menu{
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.nav-links li:hover{
    background-color: rgb(193, 209, 231);
}
ul{
    list-style-type: none; 
    margin-top: 0px;
    padding-top: 10px;
}
li a{
    float: right;
    display: inline;
    padding: 8px;
    text-decoration: none; 
    color: black;
}
.active a{
    color: blue;
}