html, body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}
/*Logo*/
.logo{ 
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
}

/*nav*/
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    
}
.nav-menu{
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.nav-links li:hover{
    background-color: rgb(193, 209, 231);
}
ul{
    list-style-type: none; 
    margin-top: 0px;
    padding-top: 10px;
}
li a{
    float: right;
    display: inline;
    padding: 8px;
    text-decoration: none; 
    color: black;
}
.active a{
    color: blue;
}

/*Main image*/
.main-section{
    background-image: url("../images/eye-candy.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 700px;
}
.main-text{
    text-align: center;
    position: absolute;
    top: 15%;
    left: 22%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px white;
    font-size: 20px;
}

/*zipline*/
#experiences{
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 8%;
}
 h2{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
}
.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.container{
    display: flex;
}
.zipline-img{
    flex-basis: 50%;
}
.zipline-text{
    flex-basis: 40%;
    text-align: left;
    margin-top: -1%;
}
/*Kayaking*/
.kayaking-img{
    margin-top: 6%;
}
.kayaking-text{
    margin-right: 15%;
    margin-top: 5%;
}
/*bungee jump*/
.bungee-img{
    margin-top: 6%;
}
.bungee-image{
    width: 210%;
}
.bungee-text{
    margin-top: 5%;
    margin-left:30%;
}
/*canopy walking*/
.canopy-img{
    margin-top: 6%;
}
.canopy-image{
    width: 200%;
    margin-left: -95%;
}
.canopy-text{
    margin-top: 5%;
    margin-right: 20%;
}
/*rapel*/
.rapel-img{
    margin-top: 6%;
}
.rapel-image{
    width: 240%;
}
.rapel-text{
    margin-top: 5%;
    margin-left: 30%;
}
/*book*/
#book{
    margin-top: 5%;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.book-section{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card{
    margin-top:15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    justify-content: center;
} 
#card-image{
    margin-left: 15%;
}
/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 40px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/*card images*/
.weekend-img{
    width: 50%;
}
.family-img{
    width: 45%;
}

/*eye candy 2*/
.image2{   
    background-image: url("../images/eye-candi2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 600px;
    margin-top: 3%;

}
/*footer*/
#footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    color: black;
 }
 .footer-nav{
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    
}
.footer-menu{
    display: flex;
    gap: 6em;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-top: -4%;
}
.footer-links li:hover{
    background-color: rgb(193, 209, 231);
}
ul{
    list-style-type: none; 
    padding: 0 60px 0 60px;
}
li a{
    float: right;
    display: inline;
    text-decoration: none; 
    color: black;
}