html, body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}
/*Logo*/
.logo{ 
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
}

/*nav*/
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    
}
.nav-menu{
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.nav-links li:hover{
    background-color: rgb(193, 209, 231);
}
ul{
    list-style-type: none; 
    margin-top: 0px;
    padding-top: 10px;
}
li a{
    float: right;
    display: inline;
    padding: 8px;
    text-decoration: none; 
    color: black;
}
.active a{
    color: blue;
}

/*Main image*/
.main-section{
    background-image: url("../images/eye-candy.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 700px;
}
.main-text{
    text-align: center;
    position: absolute;
    top: 15%;
    left: 16%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px white;
    font-size: 25px;
}

/*zipline*/
#experiences{
    margin-top: 50px;
    margin-left: 50px;
}
#experiences h2{
    font-size: 50px;
}
#experiences p{
    font-size: 20px;
}
.card-image{
    width: 100%;
}
.container{
    display: flex;
}
.zipline-img{
    flex-basis: 50%;
}
.zipline-text{
    text-align: left;
    margin-top: -25px;
    margin-left: 50px;
}
.zipline-text h3{
    font-size: 30px;
}