html, body{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
header{
    width: 100%;
}
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
    position: relative;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}
#check{
    display: none;
}

/*Main image*/
.main-section{
    background-image: url("../images/eye-candy.jpg")!important; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 700px;
}

/*zipline*/
#experiences{
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 8%;
}
 h2{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
}
.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.container{
    display: flex;
}
.zipline-img{
    flex-basis: 50%;
}
.zipline-text{
    flex-basis: 40%;
    text-align: left;
    margin-top: -1%;
}
/*Kayaking*/
.kayaking-img{
    margin-top: 6%;
}
.kayaking-text{
    margin-right: 15%;
    margin-top: 5%;
}
/*bungee jump*/
.bungee-img{
    margin-top: 6%;
}
.bungee-image{
    width: 210%;
}
.bungee-text{
    margin-top: 5%;
    margin-left:30%;
}
/*canopy walking*/
.canopy-img{
    margin-top: 6%;
}
.canopy-image{
    width: 200%;
    margin-left: -95%;
}
.canopy-text{
    margin-top: 5%;
    margin-right: 20%;
}
/*rapel*/
.rapel-img{
    margin-top: 6%;
}
.rapel-image{
    width: 240%;
}
.rapel-text{
    margin-top: 5%;
    margin-left: 30%;
}
/*book*/
#book{
    margin-top: 5%;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.book-section{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.pass {
    display: inline-block;
    position: relative;
    width: 400px;
    min-width: 400px;
    height: 400px;
    border-radius: 30px;
    overflow:hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    margin: 30px;
    margin-left: 3%;
    
  }
  
  .book-profile-img {
    height: 70%;
  }
  
  .book-description-bk {
    background-image: linear-gradient(0deg , #3f5efb, #fc466b);
    border-radius: 30px;
    position: absolute;
    top: 55%;
    left: -5px;
    height: 65%;
    width: 108%;
    transform: skew(19deg, -9deg);
  }
  
  .second .book-description-bk {
    background-image: linear-gradient(-20deg , #bb7413, #e7d25c)
  }

  .third .book-description-bk {
    background-image: linear-gradient(-20deg , green, #e7d25c)
  }

  .book-description {
    position: absolute;
    color: #fff;
    font-weight: 900;
    left: 90px;
    bottom: 23%;
  }
  
  .book-btn {
    position: absolute;
    color: #fff;
    right: 30px;
    bottom: 10%;
    padding: 10px 20px;
    border: 1px solid #fff;
  }
  
  .book-btn a {
    color: #fff;
  }
  
  .book-price {
    position: absolute;
    color: #fff;
    left: 30px;
    bottom: 10%;
  }
  /* END CARD DESIGN */
  .btn i:before {
    width: 14px;
    height: 14px;
    position: fixed;
    color: #fff;
    background: #0077B5;
    padding: 10px;
    border-radius: 50%;
    top:5px;
    right:5px;
  }

/*eye candy 2*/
.image2{   
    background-image: url("../images/eye-candi2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 600px;
    margin-top: 3%;

}
/*footer*/
.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: white;
    background-color: #0082e6;
    border-top: 1px solid #e5e5e5;
}

.footer > * {
    flex:  1 100%;
}

.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li a{
    line-height: 2em;
    font-size: 18px;
    color: white;
}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav__ul a {
    color: #999;
}

.nav__ul--extra {
    column-count: 1;
    column-gap: 1.25em;
}
.nav__item{
    margin-left: 20%;
}
  
@media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }

    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
}
/*mobile device*/
@media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    nav{
        width: 100%;
        position: relative;
    }
    nav ul{
      position: absolute;
      width: 50%;
      height: 45vh;
      background: #97b8da;
      top: 80px;
      left: -70%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
    .footer__nav{
        margin-left: -23%;
    }
} 